<settings>
  <mirrors>
    <mirror>
      <id>emida-mirror</id>
      <name>Emida internal repository</name>
      <url>http://buildmachine.emida.net:8081/nexus/content/groups/public</url>
      <mirrorOf>
        *,
        !emida-repo-releases,!emida-repo-snapshots
      </mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>emida-repo</id>
      <repositories>
        <repository>
          <id>emida-repo-releases</id>
          <url>http://buildmachine.emida.net:8081/nexus/content/repositories/releases/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>emida-repo-snapshots</id>
          <url>http://buildmachine.emida.net:8081/nexus/content/repositories/snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>emida-repo-thirdparty</id>
          <url>http://buildmachine.emida.net:8081/nexus/content/repositories/thirdparty/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>emida-repo-releases</id>
          <url>http://buildmachine.emida.net:8081/nexus/content/repositories/releases/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>emida-repo-snapshots</id>
          <url>http://buildmachine.emida.net:8081/nexus/content/repositories/snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <servers>
    <server>
        <id>emida-repo-releases</id>
        <username>admin</username>
        <password>Em1d@N3xu$2015</password>
    </server>
    <server>
        <id>emida-repo-snapshots</id>
        <username>admin</username>
        <password>Em1d@N3xu$2015</password>
    </server>
    <server>
        <id>emida-repo-thirdparty</id>
        <username>admin</username>
        <password>Em1d@N3xu$2015</password>
    </server>
    <server>
  <id>ftp-emida-releases</id>
  <username>master</username>
  <password>Tra_r.d@dn4</password>
    </server>
    <server>
  <id>tomcatServer</id>
  <username>tomcat</username>
  <password>tomcat</password>
    </server>
  </servers>
  
  <activeProfiles>
    <activeProfile>emida-repo</activeProfile>
  </activeProfiles>
</settings>
